html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td { 
	font-size:12px; 
	font-family:Arial, sans-serif;
}

table{
	border-collapse: collapse;
}
table.dataTable{
	border-collapse: collapse;
}
table td{
	border:1px solid #C0C0C0;
}
table tbody{

}
table thead{
	background-color: #DFE6FA;
	height:20px;
}
.highlight{
	background-color: #ccfaff !important;
}
table.dataTable tbody tr td.highlight{
	background-color: #ccfaff !important;
}
.floatLeft{
	float:left;
}

.floatRight{
	float:right;	
}

.cls-data-th-list { /*数据自动列表报表数据标题行每个<td/>的样式#3AA8F3/#64A5F8*/
	/**background-color: #64A5F8;*/
	/* BACKGROUND-IMAGE: url(./webresources/skin/vista/images/datatitle_bg.gif); */
	text-align: center;
	vertical-align: middle; /* 
	border: 1px solid #C0C0C0; */
}

.cls-data-td-list { /*数据自动列表报表数据行每个<td/>的样式*/
	/* border: 1px solid #C0C0C0; */
	min-height: 23px;
	height: 23px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.cls-data-content-list {
	/*如果cellresize配置为1或者显示了垂直滚动条，则会将单元格内容自动包在一个<div/>中，下面就是设置这个div的样式*/
	/*white-space:nowrap;*/
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%
}

.cls-data-th-detail {
	background-color: #EBF0FE;
	font-size: 13px;
	text-align:right;
}
.cls-data-td-editdetail{
	text-align:left;
}
.cls-title {
	font-weight: bold;
}

.control-label {
	text-align: right;
	padding: 0px 10px;
}

.col-lg-7, .col-md-7, .col-sm-7 {
	padding: 0px;
}

.col-lg-7, .col-md-7, .col-sm-7, .form-control {
	height: 25px;
}

.form-control {
	padding: 0px;
}

.row {
	margin: 5px 0px;
}
.searchForm {
	background-color: #f2f5ff;
	border: 1px solid #cbd1d3;
	border-radius: 7px;
}
label {
	font-weight: normal;
	font-size: 13px;
}
/*modal*/
.modal-dialog{
	width:100%;
	margin:20px 0px 0px 0px;
}
.modal-header{
	background:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#edf5f8), to(#bdc6cd));
	background-color: #BDC6CF;
	border-top: 1px solid #edf5f8;
    border-bottom: 1px solid #b6bec5;
    height:30px;
}
.modal-title,.modal-header button.close{
	margin-top:-10px;
}
